<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Aggiungi utente</li>
    </ol>
</nav>
<mat-card class="trinta-card mb-25 bg-white border-none d-block">
    <mat-card-content>
        
        <mat-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>
                    Step 1
                </ng-template>
                <form [formGroup]="form1">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    First Name
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Enter first name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Mateo" formControlName="firstName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Last Name
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Enter last name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Luca">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <i-feather name="mail"></i-feather>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput placeholder="E.g. hello@trinta.com">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Phone Number
                                </label>
                                <mat-form-field>
                                    <i-feather name="phone"></i-feather>
                                    <mat-label>
                                        Enter phone number
                                    </mat-label>
                                    <input matInput placeholder="E.g. +123 452183">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Address
                                </label>
                                <mat-form-field>
                                    <i-feather name="map-pin"></i-feather>
                                    <mat-label>
                                        Enter address
                                    </mat-label>
                                    <input matInput placeholder="E.g. Amsterdam">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Country
                                </label>
                                <mat-form-field>
                                    <i-feather name="map"></i-feather>
                                    <mat-label>
                                        Enter country
                                    </mat-label>
                                    <input matInput placeholder="E.g. Netherlands">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="next" matStepperNext [disabled]="!form1.valid">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    Step 2
                </ng-template>
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    First Name
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Enter first name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Mateo">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Last Name
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Enter last name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Luca">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <i-feather name="mail"></i-feather>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput placeholder="E.g. hello@trinta.com">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Phone Number
                                </label>
                                <mat-form-field>
                                    <i-feather name="phone"></i-feather>
                                    <mat-label>
                                        Enter phone number
                                    </mat-label>
                                    <input matInput placeholder="E.g. +123 452183">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Address
                                </label>
                                <mat-form-field>
                                    <i-feather name="map-pin"></i-feather>
                                    <mat-label>
                                        Enter address
                                    </mat-label>
                                    <input matInput placeholder="E.g. Amsterdam">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Country
                                </label>
                                <mat-form-field>
                                    <i-feather name="map"></i-feather>
                                    <mat-label>
                                        Enter country
                                    </mat-label>
                                    <input matInput placeholder="E.g. Netherlands">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="back mr-15" matStepperPrevious>Back</button>
                        <button mat-button class="next" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    Step 3
                </ng-template>
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    First Name
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Enter first name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Mateo">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Last Name
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Enter last name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Luca">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <i-feather name="mail"></i-feather>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput placeholder="E.g. hello@trinta.com">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Phone Number
                                </label>
                                <mat-form-field>
                                    <i-feather name="phone"></i-feather>
                                    <mat-label>
                                        Enter phone number
                                    </mat-label>
                                    <input matInput placeholder="E.g. +123 452183">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Address
                                </label>
                                <mat-form-field>
                                    <i-feather name="map-pin"></i-feather>
                                    <mat-label>
                                        Enter address
                                    </mat-label>
                                    <input matInput placeholder="E.g. Amsterdam">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Country
                                </label>
                                <mat-form-field>
                                    <i-feather name="map"></i-feather>
                                    <mat-label>
                                        Enter country
                                    </mat-label>
                                    <input matInput placeholder="E.g. Netherlands">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="back mr-15" matStepperPrevious>Back</button>
                        <button mat-button  class="next" matStepperNext color="primary">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    Step 4
                </ng-template>
                <p>
                    You are now done.
                </p>
                <div>
                        <button mat-button class="back mr-15" matStepperPrevious>Back</button>
                    <button mat-button  class="next" (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>

    </mat-card-content>
</mat-card>
