<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item"  (click)="goToUsers()">Utenti</li>
        <li aria-current="page" class="breadcrumb-item active">{{label}}</li>
    </ol>
</nav>
<mat-card class="trinta-card mb-25 bg-white border-none d-block">
    <mat-card-content>
        
        <mat-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>
                    Dati azienda
                </ng-template>
                <form [formGroup]="form1" (ngSubmit)="saveForm1()">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20 relative">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Partita iva
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Inserisci la tua partita iva(solo i numeri che la compongono)
                                    </mat-label>
                                    <input matInput formControlName="vatNumber" (blur)="checkVatNumber()" maxlength="11"
                                        pattern="\d*"
                                        (keypress)="allowOnlyNumbers($event)">
                                    <div class="loader-absolute" *ngIf="ctrlVat">
                                        <i class='bx bx-loader bx-spin bx-rotate-90'></i>
                                    </div>
                                </mat-form-field>
                                <div *ngIf="form1.controls['vatNumber'].invalid && form1.controls['vatNumber'].touched" class="error sub-input">
                                    Partita iva non valida o non esistente.
                                </div>
                                <div *ngIf="errorMessageExistVatNumber" class="error sub-input">
                                    {{ errorMessageExistVatNumber }}
                                </div>
                                <div *ngIf="checkVatNumberValid" class="valid sub-input">
                                    {{ checkVatNumberValid }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Ragione sociale
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Inserisci la ragione sociale
                                    </mat-label>
                                    <input matInput formControlName="businessName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Indirizzo
                                </label>
                                <mat-form-field>
                                    <i-feather name="map-pin"></i-feather>
                                    <mat-label>
                                        Inserisci l'indirizzo della sede
                                    </mat-label>
                                    <input matInput formControlName="address">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Città
                                </label>
                                <mat-form-field>
                                    <i-feather name="map"></i-feather>
                                    <mat-label>
                                        Inserisci la città
                                    </mat-label>
                                    <input matInput formControlName="city">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Cap
                                </label>
                                <mat-form-field>
                                    <i-feather name="map-pin"></i-feather>
                                    <mat-label>
                                        Inserisci il cap
                                    </mat-label>
                                    <input matInput formControlName="zipCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Pec
                                </label>
                                <mat-form-field>
                                    <i-feather name="mail"></i-feather>
                                    <mat-label>
                                        Inserisci la pec
                                    </mat-label>
                                    <input matInput type="email" formControlName="pec">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Telefono
                                </label>
                                <mat-form-field>
                                    <i-feather name="phone"></i-feather>
                                    <mat-label>
                                        Inserisci il telefono
                                    </mat-label>
                                    <input matInput formControlName="mobile">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="next" matStepperNext [disabled]="!form1.valid">Avanti</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    Dati di login
                </ng-template>
                <form [formGroup]="form2" (ngSubmit)="saveForm2()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Username poste
                                </label>
                                <mat-form-field>
                                    <i-feather name="user"></i-feather>
                                    <mat-label>
                                        Inserisci la username poste
                                    </mat-label>
                                    <input matInput  formControlName="usernamePoste" placeholder="Username poste" (blur)="checkPosteAccesses()"
                                        [ngClass]="{
                                            'is-valid': accessValid,
                                            'is-invalid': accessNotValid
                                        }">
                                    <div class="loader-absolute" *ngIf="ctrlPosteaccesses">
                                        <i class='bx bx-loader bx-spin bx-rotate-90'></i>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Password poste
                                </label>
                                <mat-form-field>
                                    <i-feather name="lock"></i-feather>
                                    <mat-label>
                                        Inserisci la password poste
                                    </mat-label>
                                    <input matInput formControlName="passwordPoste" placeholder="Password Poste" (blur)="checkPosteAccesses()"
                                        [ngClass]="{
                                            'is-valid': accessValid,
                                            'is-invalid': accessNotValid
                                        }"/>
                                    <div class="loader-absolute" *ngIf="ctrlPosteaccesses">
                                        <i class='bx bx-loader bx-spin bx-rotate-90'></i>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div *ngIf="form2.controls['passwordPoste'].invalid && form2.controls['passwordPoste'].touched" class="error sub-input">
                                Username e Password poste obbligatoria
                            </div>
                            <div *ngIf="accessNotValid" class="error sub-input">
                                Validazione poste errata. Controllare i dati inseriti.
                            </div>
                            <div *ngIf="accessValid" class="valid sub-input">
                                Validazione POSTE completata.
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Email
                                </label>
                                <mat-form-field>
                                    <i-feather name="mail"></i-feather>
                                    <mat-label>
                                        Inserisci indirizzo email
                                    </mat-label>
                                    <input matInput  formControlName="email">
                                </mat-form-field>
                                <div *ngIf="form2.controls['email'].invalid && form2.controls['email'].touched" class="error sub-input">
                                    Email non valida
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Password
                                </label>
                                <mat-form-field>
                                    <i-feather name="lock"></i-feather>
                                    <mat-label>
                                        Inserisci la password
                                    </mat-label>
                                    <input matInput type="password" placeholder="Password" formControlName="password" (input)="onPasswordInput()">
                                </mat-form-field>
                                <div *ngIf="form2.controls['password'].invalid && form2.controls['password'].touched" class="error sub-input">
                                    Password obbligatoria
                                </div>
                                <div *ngIf="password && showStrength" [ngClass]="getPasswordClass()">
                                    Forza password: <strong>{{ FncUtils.checkPasswordStrength(password) }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="back mr-15" matStepperPrevious>Indietro</button>
                        <button mat-button class="next" matStepperNext [disabled]="!form2.valid || !accessValid || (passwordStrength !== 'forte' && !update)">Avanti</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    Prodotti
                </ng-template>
                <form [formGroup]="form3" (ngSubmit)="saveForm3()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Codice Contratto Mol
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Inserisci il codice contratto MOL(se utente MOL)
                                    </mat-label>
                                    <input matInput formControlName="molContractCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Codice Contratto Col
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Inserisci il codice contratto COL(se utente COL)
                                    </mat-label>
                                    <input matInput formControlName="colContractCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Codice Contratto Vol
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Inserisci il codice contratto VOL(se utente VOL)
                                    </mat-label>
                                    <input matInput formControlName="volContractCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Codice Contratto Agol
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Inserisci il codice contratto AGOL(se utente AGOL)
                                    </mat-label>
                                    <input matInput formControlName="agolContractCode">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="back mr-15" matStepperPrevious>Indietro</button>
                        <button mat-button  class="next" matStepperNext color="primary">Avanti</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                   Opzioni
                </ng-template>
                <form [formGroup]="form4" (ngSubmit)="saveForm4()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Nascondi i prezzi
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Seleziona si se vuoi che vengano nascosti i prezzi all'utente
                                    </mat-label>
                                    <mat-select formControlName="hidePrice">
                                        <mat-option value="0">NO</mat-option>
                                        <mat-option value="1">SI</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Ricevuta di ritorno
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Se vuoi che l'utente abbia la ricevuta di ritorno
                                    </mat-label>
                                    <mat-select formControlName="rr">
                                        <mat-option value="0">NO</mat-option>
                                        <mat-option value="1">SI</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                    Ged
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Seleziona si se l'utente ha la ged
                                    </mat-label>
                                    <mat-select formControlName="ged">
                                        <mat-option value="0">NO</mat-option>
                                        <mat-option value="1">SI</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                   Username ged poste
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Inserisci la username di poste
                                    </mat-label>
                                    <input matInput formControlName="usernamePosteGed">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mb-20">
                                <label class="main-label d-block lh-1 text-black mb-10">
                                   Password ged poste
                                </label>
                                <mat-form-field>
                                    <i-feather name="code"></i-feather>
                                    <mat-label>
                                        Inserisci la password di poste
                                    </mat-label>
                                    <input matInput formControlName="passwordPosteGed">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button class="back mr-15" matStepperPrevious>Indietro</button>
                        <button mat-button  class="next" matStepperNext color="primary">Fine</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>

    </mat-card-content>
</mat-card>
