<nav aria-label="breadcrumb" class="bg-white nav">
    <ol class="breadcrumb" style="justify-content: space-between;">
        <li aria-current="page" class="breadcrumb-item active">Spedizioni correttamente inviate</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-success border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.daySend}}
                </h3>
                <span class="sub-title text-white d-block">
                    Invii del giorno
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-success border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.weekSend}}
                </h3>
                <span class="sub-title text-white d-block">
                    Invii della settimana
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-success border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.monthSend}}
                </h3>
                <span class="sub-title text-white d-block">
                    Invii del mese
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-info border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.previousMonthSends}}
                </h3>
                <span class="sub-title text-white d-block">
                    Invii del mese precendete
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<nav aria-label="breadcrumb" class="bg-white nav">
    <ol class="breadcrumb" style="justify-content: space-between;">
        <li aria-current="page" class="breadcrumb-item active">Spedizioni in lavorazione</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-warning border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.att}}
                </h3>
                <span class="sub-title text-white d-block">
                   In attesa online (c.s.0)
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-warning border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.acc}}
                </h3>
                <span class="sub-title text-white d-block">
                    Accettate online (c.s.9)
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-warning border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.val}}
                </h3>
                <span class="sub-title text-white d-block">
                    Documento validato (c.s.11)
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3 mb-10">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-warning border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.ins}}
                </h3>
                <span class="sub-title text-white d-block">
                   In accettazione finale se MOL o COL (c.s.1)
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<nav aria-label="breadcrumb" class="bg-white nav">
    <ol class="breadcrumb" style="justify-content: space-between;">
        <li aria-current="page" class="breadcrumb-item active">Spedizioni in errore</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-6 col-xxxl-3">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-danger border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.dayErrors}}
                </h3>
                <span class="sub-title text-white d-block">
                    Errori del giorno 
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-danger border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.weekErrors}}
                </h3>
                <span class="sub-title text-white d-block">
                    Errori della settimana
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-danger border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.monthErrors}}
                </h3>
                <span class="sub-title text-white d-block">
                    Errori del mese
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-xxxl-3">
        <mat-card class="trinta-card annual-profit-card mb-25 bg-danger border-none d-block">
            <mat-card-content>
                <h3 class="text-white">
                    {{g?.previousMonthErrors}}
                </h3>
                <span class="sub-title text-white d-block">
                   Errori del mese precedente
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>